In [1]:
import os
import numpy as np
import pandas as pd
from scipy.misc import imread
import imageio
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [ ]:
root_dir = os.getcwd()
img_dir = os.path.join(root_dir, 'dataset/Test/digits')

pixels = np.array(['pixel_{:04d}'.format(x) for x in range(1024)])
flag = True

for char_name in sorted(os.listdir(img_dir)):
    char_dir = os.path.join(img_dir, char_name)
    img_df = pd.DataFrame(columns=pixels)
    
    for img_file in sorted(os.listdir(char_dir)):
        image = pd.Series(imageio.imread(os.path.join(char_dir, img_file)).flatten(), index=pixels)
        img_df = img_df.append(image.T, ignore_index=True)
        
    img_df = img_df.astype(np.uint8)
    img_df['character'] = char_name
    
    img_df.to_csv('test_digits_data.csv', index=False, mode='a', header=flag)
    flag=False
    
    print('*', end='')

In [2]:
#Loading the data
data = pd.read_csv("./train_digits_data.csv")
data.head()

,pixel_0000,pixel_0001,pixel_0002,pixel_0003,pixel_0004,pixel_0005,pixel_0006,pixel_0007,pixel_0008,pixel_0009,...,pixel_1015,pixel_1016,pixel_1017,pixel_1018,pixel_1019,pixel_1020,pixel_1021,pixel_1022,pixel_1023,character
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,digit_0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,digit_0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,digit_0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,digit_0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,digit_0

In [3]:
data['character_class'] = LabelEncoder().fit_transform(data.character)
data.drop('character', axis=1, inplace=True)
data = data.astype(np.uint8)

In [4]:
data.shape

(17000, 1025)

In [5]:
data.tail()

,pixel_0000,pixel_0001,pixel_0002,pixel_0003,pixel_0004,pixel_0005,pixel_0006,pixel_0007,pixel_0008,pixel_0009,...,pixel_1015,pixel_1016,pixel_1017,pixel_1018,pixel_1019,pixel_1020,pixel_1021,pixel_1022,pixel_1023,character_class
16995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
16996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
16997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
16998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
16999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9

In [6]:
data.groupby("character_class").count()

,pixel_0000,pixel_0001,pixel_0002,pixel_0003,pixel_0004,pixel_0005,pixel_0006,pixel_0007,pixel_0008,pixel_0009,...,pixel_1014,pixel_1015,pixel_1016,pixel_1017,pixel_1018,pixel_1019,pixel_1020,pixel_1021,pixel_1022,pixel_1023
character_class,,,,,,,,,,,,,,,,,,,,,
0,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
1,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
2,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
3,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
4,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
5,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
6,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
7,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
8,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
9,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,...,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700

In [129]:
X = data.values[:,:-1]/255.0
x0=np.ones([len(X),1])
X=np.concatenate((x0,X),axis=1)
Y = data["character_class"].values.reshape(-1,1)

In [130]:
print("X is:",X)
print("shape of X:",X.shape)
print("Y is:",Y)
print("shape of Y:",Y.shape)

X is: [[1. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 ...
 [1. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]]
shape of X: (17000, 1025)
Y is: [[0]
 [0]
 [0]
 ...
 [9]
 [9]
 [9]]
shape of Y: (17000, 1)

In [131]:
X_train, X_vald, y_train, y_vald = train_test_split(X, Y, test_size=0.2,random_state=1000)
print("X_train shape",X_train.shape)
print("X_vald shape",X_vald.shape)
print("y_train shape",y_train.shape)
print("y_vald shape",y_vald.shape)

X_train shape (13600, 1025)
X_vald shape (3400, 1025)
y_train shape (13600, 1)
y_vald shape (3400, 1)

In [132]:
#Weight initialization
wt=np.zeros((1,len(X_train[0,:]))).reshape(-1,1)
print(wt)
print(wt.shape)
learning_rate=0.01

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]
(1025, 1)

In [137]:

def z(theta, x):
    return np.dot(x, theta)

def sigmoid(z):
    return 1. / (1 + np.exp(-z))

def hypothesis(theta, x):
    return sigmoid(z(theta, x))


def compute_cost(theta, x, y):

    h = hypothesis(theta, x)
    one_case = np.matmul(-y.T, np.log(h))
    zero_case = np.matmul(-(1 - y).T, np.log(1 - h))
    return (one_case + zero_case) / len(x)


def gradient_descent(theta, x, y, learning_rate):
    error = hypothesis(theta, x) - y
    n = (learning_rate / len(x)) * (np.matmul(x.T, error))
    return theta - n


def minimize(theta, x, y, iterations, learning_rate):
    costs = []
    for _ in range(iterations):
        theta = gradient_descent(theta, x, y, learning_rate)
        costs.append(compute_cost(theta, x, y))
    return theta, costs

In [83]:
def multiclass_logregress( X, Y, W, alpha, max_iterations):
        
        for i in range(max_iterations):
            
            W = W - alpha * gradient_descent(wt, X_train, y_train, learning_rate)
            cost = compute_cost(W,X_train,y_train)
            
            if i % 1000 == 0:
                print("Cost: ", cost)
            
        return W, cost

In [84]:
initial_weight =[]
initial_cost=[]
for i in range(10):
    W = np.zeros((1,len(X_train[0,:])))
    print("Learning process : ", float(i))
    y_train_one = (y_train == float(i)).astype(int)
    theta, costs = gradient_descent(wt, X_train, y_train, 100,0.01)
    initial_weight.append(weight.flatten())
    initial_weight.append(cost)
    
print(initial_weight)

Learning process :  0.0

TypeError: gradient_descent() takes 4 positional arguments but 5 were given

In [138]:
weight=np.random.rand(1025,1)

In [139]:
print(weight)

[[0.74423455]
 [0.49130015]
 [0.56190397]
 ...
 [0.69284119]
 [0.13854575]
 [0.47451598]]

In [140]:
theta, costs = minimize(weight, X_train, y_train, 100, 0.5)

/home/nishan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:16: RuntimeWarning: divide by zero encountered in log

nan